<h1>New Joke</h1>

<form name="jokesNew.jokesNewForm" ng-submit="jokesNew.create()" novalidate>
  <div>
    <label for="content">Content</label>
    <input type="text" name="content" id="content" ng-model="jokesNew.joke.content" required>
  </div>
  <!-- <div class="ng-message-error" ng-messages="jokesNew.jokesNewForm.content.$error" ng-show="(jokesNew.jokesNewForm.$submitted || jokesNew.jokesNewForm.content.$touched)">
    <p ng-message="required">Gotta add a joke at least</p>
  </div> -->

  <div>
    <label for="categories">Categories:</label>
    <div ng-repeat="cat in jokesNew.category" name="categories" id="categories" ng-model="jokesNew.selectedCats">
      <div ng-click="jokesNew.addCategory(cat)">
        <input type="checkbox" value="{{cat.name}}">{{cat.name}}
      </div>
    </div>
  </div>



  <!-- <div class="ng-message-error" ng-messages="jokesNew.jokesNewForm.categories.$error" ng-show="(jokesNew.jokesNewForm.$submitted || jokesNew.jokesNewForm.categories.$touched)">
    <p ng-message="required">At least one category is required.</p>

  </div> -->
  <p>Please feel free to add a category <a ui-sref="categoriesNew">here</a> if its not in the dropdown</p>




  <div>
    <label for="sfw">Safe for Work?</label>
    <select name="sfw" id="sfw" ng-model="jokesNew.joke.sfw" required>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
  </div>
  <!-- <div class="ng-message-error" ng-messages="jokesNew.jokesNewForm.sfw.$error" ng-show="(jokesNew.jokesNewForm.$submitted || jokesNew.jokesNewForm.sfw.$touched)">
    <p ng-message="required">Can I view this at work?</p>
  </div> -->

  <button class="button">Create</button>
</form>
